
  <mat-sidenav-container>
    <mat-list>
      <mat-list-item><mat-icon class="icon">groups</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">construction</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">festival</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">calendar_today</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">euro_symbol</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">house</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon">settings</mat-icon></mat-list-item>
    </mat-list>
  </mat-sidenav-container>