<mat-toolbar class="topbar">
	<span>Besseres RR Center</span>
	<span class="example-spacer"></span>
	<section>
		<div class="example-button-row">
		  <div class="example-flex-container">
			<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
			  <mat-icon class="icon">public</mat-icon>
			</button>
			<button mat-icon-button aria-label="Example icon button with a home icon">
			  <mat-icon class="icon">manage_accounts</mat-icon>
			</button>
			<button mat-icon-button aria-label="Example icon button with a menu icon">
			  <mat-icon class="icon">description</mat-icon>
			</button>
			<button mat-icon-button aria-label="Example icon button with a heart icon">
			  <mat-icon class="icon">notifications</mat-icon>
			</button>
			<button mat-icon-button aria-label="Example icon button with a open in new tab icon">
			  <mat-icon class="icon">account_circle</mat-icon>
			</button>
		  </div>
		</div>
	  </section>
</mat-toolbar>

